<aside class="left-sidebar">
  <!-- Sidebar scroll-->
  <div class="scroll-sidebar ps ps--theme_default ps--active-y" data-ps-id="171d45ae-f16a-aa83-b7ac-ca8082143453">
    <!-- Sidebar navigation-->
    <nav class="sidebar-nav active">
      <ul id="sidebarnav" class="in">
        <!--<li class="user-profile">-->
          <!--<a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false">-->
            <!--<img src="assets/images/users/profile.png" alt="user"><span class="hide-menu">Steave Jobs </span>-->
          <!--</a>-->
          <!--<ul aria-expanded="false" class="collapse">-->
            <!--<li><a href="javascript:void()">My Profile </a></li>-->
            <!--<li><a href="javascript:void()">My Balance</a></li>-->
            <!--<li><a href="javascript:void()">Inbox</a></li>-->
            <!--<li><a href="javascript:void()">Account Setting</a></li>-->
            <!--<li><a href="javascript:void()">Logout</a></li>-->
          <!--</ul>-->
        <!--</li>-->
        <!--<li class="nav-devider"></li>-->

        <!--<li class="nav-small-cap">PERSONAL</li>-->

        <li class="active">
          <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false">
            <i class="mdi mdi-gauge"></i>
            <span class="hide-menu">Maintenance
              <span class="label label-rouded label-themecolor pull-right">1</span>
            </span>
          </a>
          <ul aria-expanded="true" class="collapse in">

            <li [routerLinkActive]="['active']">
              <a [routerLinkActive]="['active']" [routerLink]="['/dashboard']">Dashboard</a>
            </li>
            <li>
              <a [routerLinkActive]="['active']" [routerLink]="['/profile']">Edit my profile</a>
            </li>

            <li [ngClass]="{'desactivarLi': autorizado === false}">
              <a [routerLinkActive]="['active']" [routerLink]="['/companie', compGUID]" >Edit Companie</a>
            </li>

            <!--<li>-->
              <!--<a [routerLinkActive]="['active']" [routerLink]="['/companies']">Companies</a>-->
            <!--</li>-->

            <!--<li>-->
              <!--<a [routerLinkActive]="['active']" [routerLink]="['/usersOfCompanies']" >Users of Companies</a>-->
            <!--</li>-->

          </ul>
        </li>

        <!--<li class="active">-->
          <!--<a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false">-->
            <!--<i class="mdi mdi-gauge"></i>-->
            <!--<span class="hide-menu">Others-->
              <!--<span class="label label-rouded label-themecolor pull-right">4</span>-->
            <!--</span>-->
          <!--</a>-->
          <!--<ul aria-expanded="true" class="collapse in">-->
            <!--<li [routerLinkActive]="['active']"><a  href="#" >Other</a></li>-->
            <!--<li><a href="#">Analytical</a></li>-->
            <!--<li><a href="#">Demographical</a></li>-->
            <!--<li><a href="#">Modern</a></li>-->
          <!--</ul>-->
        <!--</li>-->

      </ul>
    </nav>
    <!-- End Sidebar navigation -->
    <div class="ps__scrollbar-x-rail" style="left: 0px; bottom: 0px;">
      <div class="ps__scrollbar-x" tabindex="0" style="left: 0px; width: 0px;"></div>
    </div>
    <div class="ps__scrollbar-y-rail" style="top: 0px; height: 486px; right: 0px;">
      <div class="ps__scrollbar-y" tabindex="0" style="top: 0px; height: 243px;"></div>
    </div>
  </div>
  <!-- End Sidebar scroll-->
</aside>
