<div class="row page-titles">
  <div class="col-md-5 align-self-center">
    <h3 class="text-themecolor">Update Companies</h3>
  </div>
</div>


<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h2 class="card-title">Companies (<small>4</small>)</h2>

        <!-- Table-->
        <table class="table table-striped">
          <thead>
          <tr>
            <th>Company Name</th>
            <th>Owner Name</th>
            <th>Industry</th>
            <th class="text-nowrap">Action</th>
          </tr>
          </thead>
          <tbody>

          <tr *ngFor="let companie of companies">
            <td>{{ companie.CompanyName}}</td>
            <td>{{ companie.OwnerName }}</td>
            <td>{{ companie.Industry }}</td>
            <td class="text-nowrap">
              <span  data-toggle="modal" data-target=".bd-example-modal-lg" data-original-title="Edit"> <i class="fa fa-pencil text-inverse m-r-10"></i> </span>
              <span data-toggle="tooltip" data-original-title="Close"> <i class="fa fa-close text-danger"></i> </span>
            </td>
          </tr>


          </tbody>
        </table>
        <!--End Table-->

        <!-- testModal -->
        <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>

              <div class="modal-body">
                <form>

                  <div class="form-group">
                    <label for="company-name" class="control-label">Company Name:</label>
                    <input type="text" class="form-control" id="company-name">
                  </div>

                  <div class="form-group">
                    <label for="OwnerName" class="control-label">Owner Name:</label>
                    <input type="text" class="form-control" id="OwnerName">
                  </div>

                  <div class="form-group">
                    <label for="country" class="control-label">Country:</label>
                    <input type="text" class="form-control" id="country">
                  </div>

                  <div class="form-group">
                    <label for="industry" class="control-label">Industry:</label>
                    <input type="text" class="form-control" id="industry">
                  </div>

                  <div class="form-group">
                    <label for="employees" class="control-label">Employees:</label>
                    <input type="text" class="form-control" id="employees">
                  </div>

                  <div class="form-group">
                    <label for="market" class="control-label">Market:</label>
                    <input type="text" class="form-control" id="market">
                  </div>

                  <div class="form-group">
                    <label for="create-date" class="control-label">Create Date:</label>
                    <input type="text" class="form-control" id="create-date">
                  </div>

                  <div class="form-group">
                    <label for="max-user" class="control-label">Max Users:</label>
                    <input type="text" class="form-control" id="max-user">
                  </div>

                  <div class="form-group">
                    <label for="max-date" class="control-label">Max Date:</label>
                    <input type="text" class="form-control" id="max-date">
                  </div>

                </form>
              </div>


            </div>
          </div>
        </div>
        <!-- End testmodal-->

      </div>
    </div>
  </div>
</div>
